*{
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}


body {
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
}


h1{ font-size: 3.5em;}
h2{ font-size: 2.3em;}
h3{ font-size: 1.5em;}
p{ font-size: 1em;}
ul{ list-style: none;}

button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #FF0052;
}


button:hover{
    background-color: #FF0052;
}


.container{
    max-width: 1400px;
    margin: auto;
}


.color-acento{ color: #FF0052;}


header{
    background-color: rgb(226, 226, 226);
}


header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #FF0052;
    font-size: 1.5em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}


header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}


header a:hover{
    color: #FF0052;
}


#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-image: url("Imagenes/Degradado.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#hero h1{
    color: white;
}


#por-que{
    text-align: center;
    padding: 200px 12px;
}



#Catergorias{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#Catergorias .container{
    padding: 100px 0px;
}


#Catergorias h2{
    margin-top: 0;
}


#Catergorias .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;

    }
    
    .carta:nth-child(1){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("Imagenes/plantilladevideo.jpg");
    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("Imagenes/plantilladegraficos.jpg");
    }
    
    

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("Imagenes/fuentes.jpg");
    
    }



    #caracteristicas .container{
        text-align: center;
        padding: 400px 350px;
    }

    #caracteristicas li{
        margin: 15px 0px;
        font-weight: bold;
    }


    #final{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(30,30,30);
        color: white;
        height: 80vh;
    }
    
    #final h2{
        font-size: 9vw;
    }
    
    #final button{
        font-size: 5vw;
    }


    footer{
        background-color: rgb(230,230,230);
    }
    
    footer p{
        margin: 0;
        padding: 12px;
        color: rgb(100,100,100);
    }
    
    footer .container{
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }


    @media (min-width: 850px){
        header{
            position: fixed;
            width: 100%;
        }
    }
    
        header .container{
            flex-direction: row;
            justify-content: space-between;
        }
    
        header nav{
            flex-direction: row;
            padding-bottom: 0;
            padding-right: 20px;
        }


    
        #por-que .texto{
            width: 90%;
            text-align: center;
            padding-left: 100px;
            flex-direction: column;
            justify-content: center;
        }
    
        #por-que h2{
            margin-top: 0px;
        }


        #Catergorias .categorias{
            display: flex;
            justify-content: center;
        }
    
        #Catergorias p{
            display: block;
            margin-bottom: 30px;
        }
    
   
        
        #Catergorias h3{
            margin-top: 0;
        }
    
        #Catergorias .carta{
            padding: 70px;
            background-repeat: no-repeat;
            background-position-y: 0;
            background-color: rgba(50, 50, 50, 1);
            box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        }
    
        .carta:nth-child(1){
            background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
            )
            ,url("Imagenes/plantilladevideo.jpg");
        }
    
        .carta:nth-child(2){
            background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
            )
            ,url("Imagenes/plantilladegraficos.jpg");
        }
        
        
    
        .carta:nth-child(3){
            background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
            )
            ,url("Imagenes/fuentes.jpg");
        
        }


        #caracteristicas{
            background-image: url("Imagenes/Degradado.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    
        #caracteristicas .container{
            text-align: initial;
        }
    
        #caracteristicas ul{
            margin-left: 100px;
        }


        #planes{
            height: 50vh;
            width: 90%;
            text-align: center;
            padding-left: 100px;
            flex-direction: column;
            justify-content: center;
        }


        #planes .categorias{
            display: flex;
            justify-content: center;
        }
    
        #planes p{
            display: block;
            margin-bottom: 30px;
        }
    
   
        
        #planes h3{
            margin-top: 0;
        }
    
        #planes .carta{
            padding: 70px;
            background-repeat: no-repeat;
            background-position-y: 0;
            background-color: rgb(12, 12, 12);
            box-shadow: 2px 2px 10px rgba(5, 5, 5, 0.5);
        }


        .cartass:nth-child(1){
            background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
            )
        }
    
        .cartass:nth-child(2){
            background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
            )
        }
        
        
    
        .cartass:nth-child(3){
            background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
            )
        }
    
        #final h2{
            font-size: 3em;
        }
    
        #final button{
            font-size: 1em;
        }
    
        footer .container{
            justify-content: flex-end;
        }
    }
    
    @media (min-width: 1200px) {
        #caracteristicas{
            background-position-x: calc(100vw - 800px);
        }
    }
    